
// --- COLORS --- //
$first-color: #2231C3;
$second-color: #757EDA;
$third-color: #747688;
$alt-color: #C36322;


// --- MIXIN --- //
@mixin titlesh2 ($color: #213547) {
  color: $color;
  font-size: 2em;
  letter-spacing: 1.5px;
}

@mixin buton1 ($color: #fff) {
  display: block;
  padding: 0.7em 1.5em;
  background-color: transparent;
  border: 2px solid $color;
  border-radius: 5px;
  color: $color;
  font-size: 1.5em;
}